.completo {
    height: 100%;
}

ion-toolbar{
    height: 100px;
}

.header-menu{
    text-align: center;
    margin-top: 41px;
    font-size: x-large;
}
.texto{
    margin-top:0; 
    margin-bottom:0;
}
.title-header{
    font-size: 52px; 
    margin-top: 23px;
}

.swiper-slide-active{
    transform: scale(1.05,1.05);   
}

.swiper-slide{
    transition: 400ms all ease-in-out;
}

.style-slide{
    display: flex;
    justify-content: flex-start;
}

.confBtn{
    height: 102px; /*87px;*/
    font-size: x-large;
    margin-top: 31px;
    font-weight: bold;
}

.textStyles{
    font-size: xx-large;
}

.img-footer-style{
    width: 190px; 
    margin-right: 59px;
    margin-left: 34.7px;
}

.footer-list{
    text-align: center; 
    font-size: xx-large;
}

.icon-style {
    margin-top: 213px; 
    font-size: 3.5rem;
    position: absolute; 
}

.footer-content {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 75px;
}

.footer-info {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex-direction: row;
    padding-bottom: 64px;
}

.lateral-menu{
    font-size: 23px;
    padding: 26px;
}

.icon-lateral{
    width: 87px;
}

.contact-list{
    padding: 0;
    margin: 0;
}

.contact-title{
    font-weight: bold;
    font-size: 43px;
}

.text-footer{
    margin-left: 74px;
    text-align: justify;
}

.boton-menu-grande {
    margin-top: 21px;
    width: 76px;
    font-size: 76px;
}

.imgSlide ion-img {
    width: 94.9%;
    height: auto;
}