<ion-menu side="start" menuId="first" contentId="main" [swipeGesture]="true">
    <ion-header>
        <ion-toolbar color="orange-duoc" >
            <ion-title class="header-menu">Duoc Maps</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item color="orange-duoc" href="calendario" class="lateral-menu"><ion-icon name="calendar-number-outline" class="icon-lateral"></ion-icon>Calendario</ion-item>
            <ion-item color="orange-duoc" href="escuelas-carrera" class="lateral-menu"><ion-icon name="school-outline" class="icon-lateral"></ion-icon>Consejero</ion-item>
            <ion-item color="orange-duoc" href="Sala" class="lateral-menu"><ion-icon name="construct-outline" class="icon-lateral"></ion-icon>Ajustes</ion-item>
        </ion-list>
    </ion-content>  
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>  
<ion-header>
    <ion-toolbar color="orange-duoc">
        <ion-title class="title-header">Inicio</ion-title>
        <ion-buttons slot="start" >
            <ion-menu-button menu="first" class="boton-menu-grande"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content >
    <ion-slides [options]="option" class="ion-margin-top style-slide">

        <ion-slide class="imgSlide">
            <ion-img
            src="/assets/mapaPisos/Piso-1.png"
            alt="Mapa Piso 1"
            style="cursor: pointer;"
            (click)="redirect()"
            >
            </ion-img>
        </ion-slide>
        <ion-slide class="imgSlide">
            <ion-img
            src="/assets/mapaPisos/Piso2.png"
            alt="Mapa Piso 2"
            style="cursor: pointer;"
            [routerLink]="['/mapa/piso2']"
            >
            </ion-img>
        </ion-slide>
        <ion-slide class="imgSlide">
            <ion-img
            src="/assets/mapaPisos/Piso3.png"
            alt="Mapa Piso 3"
            style="cursor: pointer;"
            [routerLink]="['/mapa/piso3']"
            >
            </ion-img>
        </ion-slide>
    </ion-slides>

        <ion-row class="ion-align-items-center ion-margin-top">
            
            <ion-col size="10" offset="1">
                <ion-button
                    href="Sala"
                    class="confBtn"
                    color="black-duoc"
                    expand="block"
                >
                    Salas
                </ion-button>
            </ion-col>

            <ion-col size="10" offset="1">
                <ion-button
                    href="punto-interes"
                    class="confBtn"
                    color="black-duoc"
                    expand="block"

                >
                    Puntos de Interes
                </ion-button>
            </ion-col>

            <ion-col size="10" offset="1">
                <ion-button
                    href="preguntas"
                    class="confBtn"
                    color="black-duoc"
                    expand="block"

                >
                    Preguntas Frecuentes
                </ion-button>
            </ion-col>
        </ion-row>               
</ion-content>

<ion-footer>
    <div class="footer-content">
        <div class="footer-info">
            <img 
                src="/assets/img/duoc.png" 
                alt="Duoc Maps Logo"
                class="img-footer-style">
            <div>
                <div class="footer-list text-footer">
                    <ion-list lines="none">
                        <div class="contact-title">Mesa de Servicios</div>
                        <div class="contact-list">(+56) 44220 1098</div>
                        <div class="contact-list">(+56) 227120245</div>                               
                    </ion-list>
                </div>
            </div>
        </div>
    </div>
</ion-footer>
