<ion-menu side="start" menuId="first" contentId="main" [swipeGesture]="true">
    <ion-header>
        <ion-toolbar color="orange-duoc" >
        <ion-title >Duoc Maps</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item color="light"href="calendario" class="lateral-menu"><ion-icon name="calendar-number-outline"></ion-icon> Calendario</ion-item>
            <ion-item color="light"href="escuelas-carrera" class="lateral-menu"><ion-icon name="school-outline"></ion-icon>Consejero</ion-item>
            <ion-item color="light"href="punto-interes" class="lateral-menu"><ion-icon name="cafe-outline"></ion-icon>Puntos Interés</ion-item>
            <ion-item color="light"href="Sala" class="lateral-menu"><ion-icon name="construct-outline"></ion-icon>Ajuste</ion-item>
        </ion-list>
    </ion-content>  
</ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Inicio</ion-title>
      <ion-buttons slot="start">
          <ion-menu-button menu="first"></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  

<ion-content >
    <ion-slides [options]="option" class="ion-margin-top">

        <ion-slide>
            <ion-img
                src="/assets/mapaPisos/Piso-1.png"
                alt="Mapa Piso 1"
                style="width: 100%; height: auto; cursor: pointer;"
                (click)="redirect()"
            >
            </ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img
                src="/assets/mapaPisos/Piso2.png"
                alt="Mapa Piso 1"
                style="width: 100%; height: auto; cursor: pointer;"
            >
            </ion-img>
        </ion-slide>
        <ion-slide>
            <ion-img
                src="/assets/mapaPisos/Piso3.png"
                alt="Mapa Piso 1"
                style="width: 100%; height: auto; cursor: pointer;"
            >
            </ion-img>
        </ion-slide>

    </ion-slides>

    <ion-row class="ion-align-items-center ion-margin-top">
            
        <ion-col size="6">
            <ion-button
                href="calendario"
                class="confBtn"
                color="black-duoc"
                expand="block"
            >
                Busca tu Profe
            </ion-button>
        </ion-col>

        <ion-col size="6">
            <ion-button
                href="Sala"
                class="confBtn"
                color="black-duoc"
                expand="block"
            >
                Sala
            </ion-button>
        </ion-col>

        <ion-col size="10" offset="1">
            <ion-button
                href="punto-interes"
                class="confBtn"
                color="black-duoc"
                expand="block"

            >
                Puntos de Interes
            </ion-button>
        </ion-col>

        <ion-col size="10" offset="1">
            <ion-button
                href="preguntas"
                class="confBtn"
                color="black-duoc"
                expand="block"

            >
                Preguntas Frecuentes
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-footer>
        <div class="footer-content">
            <div class="footer-info">
                <img 
                    src="/assets/img/duoc.png" 
                    alt="Duoc Maps Logo"
                    class="img-footer-style">
                <div style="display: flex; align-items: center;">
                    <div class="footer-list">
                      <p>Contáctanos</p>
                      <p>Seguro de accidentes +56 9 8739238</p>
                      <p>Mesa de ayuda +56 9 8739238</p>
                      <p>Mesa de servicios +56 9 8739238</p>
                    </div>
                </div>
            </div>
            
        </div>
    </ion-footer>
</ion-content>