<ion-header>
  <ion-toolbar color="orange-duoc">
    <ion-title class="title-header">Calendario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="boton-menu-grande"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card class="notice" *ngFor="let event of events" >
    <ion-card-header>
      <ion-card-title id="titleCalendar">{{ event.titulo }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ event.descripcion }}
    </ion-card-content>
    <ion-button color="orange-duoc" id="calendarButton" (click)="verDetalle(event.id)">Quiero Saber Mas</ion-button>
  </ion-card>
</ion-content>
