<ion-router-outlet id="main"></ion-router-outlet>

<ion-header>
  <ion-toolbar color="orange-duoc">
    <ion-title class="title-header">Preguntas Frecuentes</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/" class="boton-menu-grande">
        <ion-icon name="home-outline" class="iconConf"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="PreguntasFrecuentes" *ngFor="let item of preguntas">
    <a fill="clear" (click)="toggleInfo(item)">
      <h1 class="pregunta">
        {{ item.pregunta }}
      </h1>
      <ion-icon name="{{ item.expanded ? 'chevron-up' : 'chevron-down' }}" slot="end"></ion-icon>
    </a>

    <div *ngIf="item.expanded">
      <ion-card>
        <ion-card-content>
          <h4 class="respuesta">
            {{ item.respuesta }}
          </h4>
        </ion-card-content>
      </ion-card>
    </div>
  </section>
</ion-content>