.Escuelas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
}

.Escuela{
    display: flex;
    flex-direction: row;
    width: 700px;
    align-items: center;
}

a{
    text-decoration: none;
}

.IconoEscuela{
    height: 50px;
    width: 100px;
    color: white;
}

.NombreEscuela{
    width: 600px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.AdministracionNegocios{
    background-color: rgb(172, 79, 198);
    border-radius: 15px;
}

.Comunicacion{
    background-color: rgb(213, 0, 50);
    border-radius: 15px;
}

.Construccion{
    background-color: rgb(232, 119, 34);
    border-radius: 15px;
}

.Disenno{
    background-color: rgb(196, 214, 0);
    border-radius: 15px;
}

.Gastronomia{
    background-color: rgb(255, 88, 93);
    border-radius: 15px;
}

.InformaticaTelecomunicaciones{
    background-color: rgb(48, 127, 226);
    border-radius: 15px;
}

.IngenieriaRecursosNaturales{
    background-color: rgb(67, 176, 42);
    border-radius: 15px;
}

.Salud{
    background-color: rgb(91, 194, 231);
    border-radius: 15px;
}

.TurismoHoteleria{
    background-color: rgb(0, 164, 153);
    border-radius: 15px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 34px;
}

.footer-info {
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    flex-direction: row;
}

.img-footer-style{
    width: 190px; 
    margin-right: 20px;
}

.footer-list{
    text-align: center; 
    font-size: xx-large
}