<ion-router-outlet id="main"></ion-router-outlet>
  
<ion-header>
  <ion-toolbar color="orange-duoc">
    <ion-title class="title-header">Escuelas Carrera</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/" class="boton-menu-grande">
        <ion-icon name="home-outline" class="iconConf"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="Escuelas" *ngFor="let escuela of filtroEscuela">
    <div class={{escuela.escuela}}>
      <a href="/escuelas-carrera/{{escuela.escuela}}" class="Escuela">
        <i [attr.data-feather]="escuela.iconoEscuela" class="IconoEscuela"></i>
        <h1 class="NombreEscuela">
          Escuela de {{escuela.nombreEscuela}}
        </h1>
      </a>
    </div>
  </section>

</ion-content>