ion-toolbar{
    height: 100px;
}
.ConsejeroHorizontal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center;
    background-color: #D9D9D9;
    width: 700px;
    margin: 75px;
    border-radius: 30px;
}

.boton-menu-grande {
    margin-top: 21px;
    width: 76px;
    height: 54px;
}

.title-header{
    font-size: 52px; 
    margin-top: 23px;
}

.iconConf{
    font-size: 67px;
}

.ConsejeroSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    width: 700px;
    margin: 75px;
}

.ImagenConsejero{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.fotoConsejero{
    height: 300px;
    width: 200px;
    border-radius: 50px;
}

.ConsejeroVertical{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 300px;
    margin: 15px 60px 15px 15px;
}

.BuscarConsejero{
    width: 100%;
    height: 32px;
    text-align: center;
    font-weight: bold;
}


.TextoConsejero{
    width: 100%;
    background-color: #FFFFFF;
    padding: 7.5px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
}

.title-header{
    font-size: 52px; 
    margin-top: 23px;
}
