<ion-router-outlet id="main"></ion-router-outlet>
  
<ion-header>
  <ion-toolbar color="orange-duoc">
    <ion-title class="title-header">Puntos de Interés</ion-title>
    <ion-buttons slot="start">
      <ion-button href="/" class="boton-menu-grande">
        <ion-icon name="home-outline" class="iconConf"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section class="PuntosDeInteresHorizontal" *ngFor="let puntoInteres of filtroPuntoInteres">
    
    <section class="ImagenPuntoInteres">
      <ng-container *ngIf="puntoInteres.imagenPunto; else noImage">
        <img [src]="puntoInteres.imagenPunto" alt="" class="FotoPuntoInteres">
      </ng-container>
    
      <ng-template #noImage>
        <i [attr.data-feather]="puntoInteres.imagenPuntoInteres" class="FotoPuntoInteres"></i> 
      </ng-template>
    </section>

    <section class="PuntosDeInteresVertical">
      <h1 class="NombrePuntoInteres">
        {{puntoInteres.nombrePuntoInteres}}
      </h1>
      <h4 class="DescripcionPuntoInteres">
        {{ puntoInteres.descripcionPunto }}
      </h4>
      <p class="HorarioPuntoInteres">
        {{ puntoInteres.horarioPunto}}
      </p>
    </section>
  </section>

</ion-content>